.country{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    height: 12vh;
    background-color: white;
    padding:20px 0 ;
}

.up{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

.down{
    font-size: 40px;
    font-weight: 400;
}

.flag-country{
    background-color: white;
    height:22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.image{
    width: 200px;
    height: 100px;
}
