.footer{
    background-color: #06060d;
    color: white;
    padding: 20px;
}


#footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,50px);
    margin: 20px 0;
    align-items: center;
    justify-items: center;
}
