.navbar{
    background-color: #08081e;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
}

.select-box{
    position: relative;
    left: 5em;
}

.select{
    width: 15em;
    font-size: 15px;
    text-align: center;
    background-color: darkcyan;
    color: white;
    padding: 0.7em 1.5em 0.7em 1.5em;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.arrow{
    width: 2em;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.arrow::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid white;
}

.btn-location{
    width: 14em;
    background-color: rgba(255, 0, 0, 0.798);
    padding: .5em;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn-location:active{
    transform: scale(.98);
}

.btn-location:hover{
    background-color: white;
    color: rgba(255, 0, 0, 0.798);
}